    <footer>
      <div class="footer_module">
        <a href="{{ site.url }}{{ site.baseurl }}"><h3>© 2020 eunsoo lee</h3></a>
<br>
      <p><a href="mailto:itseunsoo@gmail.com?subject=✦ Hello ✦">itseunsoo@gmail.com</a></p>
        <p><a href="https://www.linkedin.com/in/leeunsu" target="blank"> linkedin</a></p>

      </div>

      <div class="footer_module">
        much love from La Jolla, CA
        <br>
        <p></p>
        
               <p> <a href="https://github.com/leeunsu" target="blank">github</a></p>
       <p> <a href="https://open.spotify.com/playlist/4uOsmC5pRnVuxkCKLCFRd2?si=_ZG18EpeTp6TQalhKx_YUA" target="blank">spotify playlist</a></p>

         <p>   <a id="theme-toggle" onclick="modeSwitcher()"></a></p>
      </div>
      

    </footer>


      {% include darkmode.html %}