    <div class="module2">
      <div class="contact_module">
        contact
        <br><br>
        <a href="mailto:itseunsoo@gmail.com?subject=✦ Hello ✦">itseunsoo@gmail.com</a><br>
        <a href="https://www.linkedin.com/in/eunsoo-lee-826514117/" target="blank"> linkedin</a><br>

      </div>

      <div class="contact_module">
        much love from La Jolla, CA
        <br>
        <p>© 2020 eunsoo lee</p>
                <a href="https://github.com/leeunsu/flowers_superpowers" target="blank">github</a> —
        <a href="https://open.spotify.com/playlist/4uOsmC5pRnVuxkCKLCFRd2?si=_ZG18EpeTp6TQalhKx_YUA" target="blank">spotify playlist</a><br>
      </div>

    </div>


      {% include darkmode.html %}