footer {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1px;
  padding: 0;
  background-color: $bodyColor;
}

.footer_module {
  font-family: "basier_circlesemi";
  padding: $block2;
  font-size: $fontSize;
  line-height: 24px;
  background-color: $backgroundColor;


  a {
    text-decoration: $bodyColor;
    color: $bodyColor;
  }

  p {
    font-family: "basier_circleregular";
    padding: 0;
    margin: 0;
    line-height: 24px;
    font-size: .9rem;
  }
  p a {
    font-family: "basier_circleregular";
    text-decoration: underline;
    color: $bodyColor;
  }
  p a:hover {
    text-decoration: none;
    cursor: pointer;
  }


  h3 {
    font-family: "basier_circlesemi";
    font-size: $fontSize;
    text-decoration: none !important;
    line-height: 24px;
    margin: 0;
    padding: 0;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 729px) {
  .footer_module {
    font-family: "basier_circlesemi";
    padding: $block2;
  }
}


@media only screen and (max-width: 728px) {
footer {
    display: grid;
    grid-template-columns: auto;
  }
  .footer_module {
    font-family: "basier_circlesemi";
    padding: $block;
  }
}
