footer {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1px;
  padding: 0;
  background-color: $bodyColor;
}

.footer_module {
  font-family: "basier_circlesemi";
  padding: $block3;
  font-size: $fontSize;
  line-height: 24px;
  background-color: $backgroundColor;
  p {
    font-family: "basier_circleregular";
    padding: none;
    margin: none;
  }
  a {
    font-family: "basier_circleregular";
    text-decoration: underline;
    color: $bodyColor;
  }
  a:hover {
    text-decoration: none;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 729px) {
  .footer_module {
    font-family: "basier_circlesemi";
    padding: $block2;
  }
}


@media only screen and (max-width: 728px) {
footer {
    display: grid;
    grid-template-columns: auto;
  }
  .footer_module {
    font-family: "basier_circlesemi";
    padding: $block;
  }
}
