// * {
//   border-style: solid;
//   border-width: 1px;
// }

header, .header_article {
  display: flex;
  padding: $block2 0 $block2 0;
  position: fixed;
  top: 0;
  width: 70%;
  left: 50%;
  transform: translate(-50%, 0);

}

header {
  z-index: -1;
}

.block {
  margin-left: auto;
  margin-right: 0;
  width: auto;
  line-height: 1.8rem;
  font-size: $fontSize;
  font-family: "basier_circlesemi";
  a {
    text-decoration: none;
    color: $bodyColor;
    padding: 0 0px 0 0;
    font-size: $fontSize;
  }
}

.block_child {
  a:nth-child(1),
  a:nth-child(2) {
    text-decoration: none;
    color: $bodyColor;
    font-family: "basier_circleregular";
    padding: 0 $block2 0 0px;
    font-size: $fontSize;
  }
  a:nth-child(3) {
    font-family: "basier_circleregular"; 
  }
  a:hover {
    cursor: pointer;
  }
}

.side_text_left {
  font-family: "basier_circleregular";
  font-size: $fontSize;
  margin: 0;
  position: fixed;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transform: rotate(-90deg);
  left: $block1;
  text-align: center;
  z-index: -1;
}

.side_text_right {
  font-family: "basier_circleregular";
  font-size: $fontSize;
  margin: 0;
  position: fixed;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transform: rotate(90deg);
  right: $block1;
  text-align: center;
  z-index: -1;
}

@media only screen and (max-width: 728px) {
  header, .header_article {
    display: flex;
    padding: 16px 0 0 25px;
    width: 100%;
  }
  .side_text_left,
  .side_text_right {
    display: none;

  }
  .block_child :nth-child(3) {
    display: none;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 729px) {
  header, .header_article {

    width: 90%;
  }
  .side_text_left,
  .side_text_right {
    display: none;
  }
}









