.intro {
  font-family: "Cormorant Garamond", serif;
  font-size: 3rem;
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 68%;
  z-index: -1;
  pointer-events: auto;
  text-align: justify;

  a {
    text-decoration: underline;
    color: $bodyColor;
  }
  a:hover {
    text-decoration: none;
    cursor: pointer;
  }
  sup {
    font-size: $fontSize;
    text-align: center;
  }
}

.content {
  margin-top: 100vh;

  min-height: 100px;
  background-color: $backgroundColor;
}

.module {
  font-family: "basier_circlesemi";
  display: flex;
  width: 100%;
  p {
    padding: 2px 16px 2px 48px;
  }
}

.module_child {
  font-family: "basier_circlesemi";
  font-size: $fontSize;
  display: flex;
  width: 100%;
  border-style: solid;
  border-width: 1px 0 1px 0;

  p {
    padding: 2px 16px 2px 48px;
  }
}

.module_child_right {
  font-family: "basier_circleregular";
  font-size: $fontSize;
  display: flex;
  width: 100%;

  text-align: right;
  background-color: $bodyColor;
  color: white;
a {
  text-decoration: underline;
  color: $backgroundColor;
}
a:hover {
  text-decoration: none;
}
  p {
    width: 100%;
    padding: 2px 48px 2px 48px;
    text-align: right;
  }
}

.module2 {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1px;
  padding: 0;
  background-color: $bodyColor;
}

.contact_module {
  font-family: "basier_circlesemi";
  padding: 48px 48px 48px 48px;
  font-size: $fontSize;
  line-height: 24px;
  background-color: $backgroundColor;
p {
  font-family: "basier_circleregular";
  padding: none;
  margin: none;
}
  a {
    font-family: "basier_circleregular";
    text-decoration: underline;
    color: $bodyColor;
  }
  a:hover{
    text-decoration: none;
  }

}

.project_container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1px;
  padding: 0;
  background-color: $bodyColor;
}
.projects {
  padding: 20px;
  background-color: $backgroundColor;

  img {
    width: 100%; /* width of container */
    height: 300px; /* height of container */
    object-fit: cover;
  }
}

.project_info {
  display: flex;
}

.project_title {
  width: 100%;
  line-height: 48px;
  text-align: center;
  a {
    font-family: "basier_circlesemi";
    font-size: $fontSize;
    text-decoration: none;
  }

  border-style: solid;
  border-width: 1px;
}

.project_date {
  font-family: "basier_circleregular";
  font-size: $fontSize;
  width: 35%;
  border-style: solid;
  border-width: 1px;
  vertical-align: middle;
  text-align: center;
}

.about_column_parent {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 64px;
  padding: 0;
  text-align: justify;
  p {
    font-family: "basier_circleregular";
    font-size: $fontSize;
    line-height: 28px;
  }
  a {
    text-decoration: underline;
  }
  a:hover {
    text-decoration: none;
    cursor: pointer;
  }
  sup {
    font-size: $fontSize;
    text-align: center;
  }
}

.overlay {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: 0.2s ease;

  margin: auto;
}

.projects:hover .overlay {
  opacity: 0.7;
}

.about_module {
  height: 100vh;
  margin: auto;
  border-style: solid;
  border-width: 1px 0 1px 0;

  border-top: none;
}

.about_content {
  font-family: "Cormorant Garamond", serif;
  width: 68%;
  font-size: 3rem;
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.button {
  font-family: "Cormorant Garamond", serif;
  background-color: transparent; /* Green */
  border: solid 1px;
  color: $bodyColor;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 0.2s ease;
}

.button:hover {
  background-color: $bodyColor; /* Green */
  color: $backgroundColor;
}

.star {
  margin: auto;
  width: 5rem;
  fill: $bodyColor;
  display: none;
}

.eye {
  width: 5rem;
  fill: $bodyColor;
}

@media only screen and (max-width: 728px) {
  .intro {
    width: 90%;
    text-align: left;
    bottom: 16px;
    top: initial;
    font-size: 2rem;
    position: absolute;
    -ms-transform: translate(-50%, -0%);
    transform: translate(-50%, -0%);
  }
  .star {
    display: block;
    text-align: center;
  }

  .module {
    font-family: "basier_circlesemi";
    display: flex;
    width: 100%;
    p {
      padding: 2px 20px 2px 20px;
    }
  }
  .module2 {
    display: grid;
    grid-template-columns: auto;
  }
  .contact_module {
    font-family: "basier_circlesemi";
    padding: 20px 20px 20px 20px;
  }
  .project_container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 1px;
    padding: 0;
    background-color: $bodyColor;
  }
  .projects {
    padding: 20px;
    background-color: $backgroundColor;

    img {
      width: 100%; /* width of container */
      height: 200px; /* height of container */
      object-fit: cover;
    }
  }
  .about_column_parent {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 8px;
    padding: 0;
    text-align: justify;
  }
  .about_content {
    width: 90%;
  }
}

  @media only screen and (max-width: 1024px) and (min-width: 729px) {
    .project_container {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 1px;
      padding: 0;
      background-color: $bodyColor;
    }
    .projects {
      padding: 20px;
      background-color: $backgroundColor;

      img {
        width: 100%; /* width of container */
        height: 250px; /* height of container */
        object-fit: cover;
      }
    }
  }

  @media screen and (min-width: 2400px) {
    .projects {
  
      padding: 20px;
      border-style: solid;
      border-width: 0 1px 1px 0px;
      justify-content: space-evenly;

      img {
        width: 100%; /* width of container */
        height: 500px; /* height of container */
        object-fit: cover;
      }
    }
  }





  * { box-sizing: border-box; }
$duration: 30s;

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}



.ticker-wrap {
  font-family: "Cormorant Garamond", serif;
  font-style: italic;
  position: relative;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 4rem;
  background-color: $bodyColor; 

  box-sizing: content-box;

  .ticker {
    padding-left: 100%;
    display: inline-block;
    height: 4rem;
    line-height: 4rem;  
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;

    -webkit-animation-iteration-count: infinite; 
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
   -webkit-animation-name: ticker;
           animation-name: ticker;
    -webkit-animation-duration: $duration;
            animation-duration: $duration;

    &__item {

      display: inline-block;

      padding: 0 2rem;
      font-size: 2rem;
      color: $backgroundColor;  

    }

  }

}



