.post_content {
  margin-top: 112px;
  display: flex;
  width: 100%;
  grid-template-columns: auto auto;
  grid-gap: 1px;
  padding: 0;
  background-color: $backgroundColor;
}

.post_title {
  border-style: solid;
  border-width: 1px 1px 1px 0;
  font-family: "basier_circlesemi";
  font-size: $fontSize;
  width: 80%;
  padding: 16px 16px 16px $block3;
}

.post_date {
  border-style: solid;
  border-width: 1px 0 1px 1px;
  font-family: "basier_circleregular";
  font-size: $fontSize;
  width: 20%;
  padding: 16px 16px 16px $block3;
}

.page_nav {
  border-style: solid;
  border-width: 1px;
  padding: $block2;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.5rem;
  background-color: $bodyColor;
  display: flex;
  
  a {
    text-decoration: none;
    color: $backgroundColor;
  }
}

.prev {
  text-align: left;
  display: block;
  width: 100%;
}

.next {
  text-align: right;
  display: block;
  width: 100%;
}

.home {
  align-self: center;
  font-family: "basier_circlesemi";
  font-size: $fontSize;
  text-align: center;
  width: 100%;
}

.post_image {
  width: 100%;
  img {
    width: 100%;
  }
}

.post_gallery_container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1px;
  padding: 0;
  background-color: $bodyColor;
}
.post_gallery {
  padding: 20px;
  background-color: $backgroundColor;

  img {
    width: 100%; /* width of container */
    height: 400px; /* height of container */
    object-fit: cover;
  }
}

.post_module {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 0px;
  grid-gap: 0px;
  padding: 0;
  a{
    color: $bodyColor;
  }
  a:hover {
    text-decoration: none;
  }
}

.post_module_child {
  border-style: solid;
  border-width: 1px;
  border-top: none;
  border-left: none;
  font-size: 0.8rem;
  background-color: $backgroundColor;

  h3 {
    margin-top: 0px;
    padding: 16px $block3 16px $block3;
    font-family: "basier_circlesemi";
    border-style: solid;
    border-width: 1px;
    border-left: none;
    border-right: none;
    border-top: none;
  }
  p {
    padding: $block3 $block3 $block3 $block3;
    font-family: "basier_circleregular";
    line-height: auto;
    text-align: justify;
  }
}

@media only screen and (max-width: 728px) {
  .post_content {
    margin-top: 88px;
  }

  .post_title {
    padding: 16px 16px 16px 20px;
  }

  .post_date {
    padding: 16px 16px 16px 20px;
    width: 35%;
  }
  .post_module {
    grid-template-columns: auto;
  }

  .post_module_child {
    border-style: solid;
    border-width: 1px;
    border-top: none;
    border-left: none;
    font-size: $fontSize;
    background-color: $backgroundColor;

    h3 {
      padding: 16px 20px 16px 20px;
    }
    p {
      padding: 20px 20px 20px 20px;

      text-align: left;
    }
  }
  .post_gallery_container {
    grid-template-columns: auto;
  }
  .post_gallery {
    padding: 20px;
    background-color: $backgroundColor;

    img {
      height: 225px; /* height of container */
    }
  }
  .page_nav {
    padding: 16px 16px 16px 16px;
  }

  .prev,
  .next {
    width: 100%;
    font-size: 1.2rem;
  }

  .home {
    width: 100%;
    display: none;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 729px) {
  .post_gallery {
    padding: 20px;
    background-color: $backgroundColor;

    img {
      height: 250px; /* height of container */
    }
  }
}

@media screen and (min-width: 1600px) {
  .post_gallery {
    padding: 20px;
    background-color: $backgroundColor;

    img {
      height: 700px; /* height of container */
    }
  }
}








