<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

</head>

<body>


  {% include header.html %}
  {{ content}}




  <div class="intro">
    <div class="star">✦<br><br></div>
    Storytelling — designing ­— deconstructing from La Jolla, CA. <sup>current</sup> <i>Co-Director of Design</i> at
    <a>Other People</a>. <sup>previous</sup> <i>Visual Design</i>
    at <a href="https://asgraphicstudio.ucsd.edu/" target="blank">A.S. Graphic Studio</a>.
  </div>



  <div class="side_text_left">✦ everything we do ✦</div>
  <div class="side_text_right">✦ may matter after all ✦</div>

  <div class="content">


    <div class="module">
      <div class="module_child">
        <p>recent studies</p>
      </div>
    </div>




    <div class="project_container">
      {% for post in site.posts limit:3 %}

      <article class="projects">
        <div class="project_image">

          <div class="overlay">
            <a href="{{site.baseurl}}{{ post.url }}">
              <img src="{{site.baseurl}}{{ post.image }}">
            </a>
          </div>

        </div>
        <!-- <div class="project_info">
          <div class="project_title">
            <a href="{{site.baseurl}}{{ post.url }}">
              {{ post.title }}
            </a>
          </div>




          <div class="project_date">
            <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_long_string }}</time>
          </div>

        </div> -->


      </article>

      {% endfor %}
    </div>

    <div class="module">
      <div class="module_child_right">
        <p><a href="{{{ site.url }}{{ site.baseurl }}/studies">see more ></a></p>
      </div>
    </div>




    <div class="module">
      <div class="module_child">
        <p>about</p>
      </div>
    </div>

    <div class="about_module">
      <div class="about_content">
        ✦
        <br>
        <br>

        <div class="about_column_parent">
          <div class="about_column">
            <p> I am currently the <i>Co-Director of Design</i> at <a>Other People</a>. Together, with a team of core
              staff, visual artists,
              and web-developers, we are aiming to inspire creative expression on students from all disciplines through
              the
              inception of UC San Diego's first literary magazine.</p>
          </div>


          <div class="about_column">

            <p> Much of my work strives to be human-centered and locally-focused, designed to bring out the best of what
              surrounds it. I hope you enjoy!</p>
          </div>

        </div>

        <a href="#" class="button">
          resume
        </a>

      </div>
    </div>


<!-- TICKER -->
<div class="ticker_container">
<div class="ticker-wrap">
<div class="ticker">
  <div class="ticker__item">Storytelling — designing ­— deconstructing from La Jolla, CA.</div>
  <div class="ticker__item">✦</div>
  <div class="ticker__item">everyhing we do</div>
  <div class="ticker__item">✦</div>
  <div class="ticker__item">may matter after all</div>
  <div class="ticker__item">✦</div>
  <div class="ticker__item">Storytelling — designing ­— deconstructing from La Jolla, CA.</div>
  <div class="ticker__item">✦</div>
  <div class="ticker__item">everyhing we do</div>
  <div class="ticker__item">✦</div>
  <div class="ticker__item">may matter after all</div>
  <div class="ticker__item">✦</div>

</div>
</div>
</div>

<!-- TICKER -->




    {% include footer.html %}



  </div>















</body>

</html>