<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
</head>

<body>


  {% include header.html %}
  <div class="intro">


    Storytelling — designing ­— deconstructing from La Jolla, CA. <sup>current</sup> <i>Co-Director of Design</i> at
    <a>Other People</a>. <sup>previous</sup> <i>Visual Design</i>
    at <a>A.S. Graphic Studio</a>.
  </div>


  <div class="content">


    {% for post in site.categories.art limit:4 %}

    <article class="projects">

      <div class="project_title">
        <a href="{{site.baseurl}}{{ post.url }}">
        <img src="{{site.baseurl}}{{ post.image }}">
        </a>
        <h1>
          <a href="{{site.baseurl}}{{ post.url }}">

            {{ post.title }}
          </a>
        </h1>
      </div>
      <div class="info">

        <div class="divider"></div>
        <!-- {{ post.content }} -->
        <div class="index_postsubheader"><time
            datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_long_string }}</time></div>

    </article>
    {% endfor %}





    <div class="module">
      <div class="module_child">
        <p>projects</p>
      </div>
    </div>
    <div class="module">
      <div class="module_child">
        <p>projects</p>
      </div>
      <div class="module_child">
        <p>projects</p>
      </div>
      <div class="module_child">
        <p>projects</p>
      </div>

    </div>
    {{ content}}
  </div>










</body>

</html>