<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
</head>

<body>


  {% include header.html %}
  {{ content}}
  <div class="intro">


    Storytelling — designing ­— deconstructing from La Jolla, CA. <sup>current</sup> <i>Co-Director of Design</i> at
    <a>Other People</a>. <sup>previous</sup> <i>Visual Design</i>
    at <a>A.S. Graphic Studio</a>.
  </div>





  <div class="content">


    <div class="module">
      <div class="module_child">
        <p>projects</p>
      </div>
    </div>




    <div class="project_container">
      {% for post in site.posts limit:6 %}

      <article class="projects">
        <div class="project_image">
          <a href="{{site.baseurl}}{{ post.url }}">
            <img src="{{site.baseurl}}{{ post.image }}">
          </a>
        </div>


        <!-- <div class="project_info">
          <div class="project_title">
            <a href="{{site.baseurl}}{{ post.url }}">
              {{ post.title }}
            </a>
          </div>




          <div class="project_date">
            <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_long_string }}</time>
          </div>

        </div> -->


      </article>

      {% endfor %}
    </div>

    <div class="module">
      <div class="module_child_right">
        <p><a>see more ></a></p>
      </div>
    </div>



    <div class="module">



    <div class="contact_module">
  much love from La Jolla, CA
  <br>
  <a>eunsoo lee 2020 ©</a>
</div>



<div class="contact_module">
  contact
        <br><br>
       <a> itseunsoo@gmail.com</a><br>
       <a> linkedin</a><br>
       <a> resume</a>
</div>

</div>


  </div>















</body>

</html>